@import url('../src/assets/styles/normalize.css');

:root {
  --body-background-color: #ffffff;
  --header-background-color: #000000; 
  --text-color: #333;
  --link-color: #007bff;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-background-color);
  color: var(--text-color);
}
